body {
  font-family: "Oswald", sans-serif;
  margin: 0px;
}
h1 {
  font-size: 70px;
  color: brown;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 35px;
  color: burlywood;
}
.name {
  color: darksalmon;
}
.name1 {
  color: darkslateblue;
}
.top-banner {
  display: flex;
  background-image: url(image/background-img.jpg);
  background-repeat: none;
}
.half-width {
  width: 100%;
  padding: 10%;
}
.half-width img {
  width: 130%;
  border: brown 5%;
  border-radius: 15%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 20px;
  color: aliceblue;
  border-radius: 5px;
}
